.bg-green{
    background-color :#2d8c42;  
}
.nav-tab{
    margin-top: 25px;
}
.nav-menu{
    color: #2d8c42;
    font-size: 15px;
    font-weight: bold;
}
.nav-menu:hover{
    color:black;
    background-color:#e9ecef;
}
.tab-head{
    border-bottom: 4px solid transparent;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    font-weight:bold;
    color:#fff;
}
.panel-head{
    padding-left:15px;
}
.btn-cirlce{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.dot{
    height: 45px;
    width: 45px;
    background-color:#1077cf;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color:#fff;
}
.steps{
    margin-top:20px;
    padding-left:20px;
    font-size: 15px;
    font-weight: bold;
    color: #1077cf;
}
.pnr-search{
    margin-top: 20px;
    border-color: #e7e7e7;
    background-color: #e7e7e7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 200px;
}
.row-steps{
    font-weight: bold;
}
.row-search{
    margin-top: 40px;
}
.row-btn{
    float: right;
    margin-top: 10px;
}
#step-2{
    display: none;
}