.bg-green{
    background-color :#2d8c42;  
}
.nav-tab{
    margin-top: 25px;
}
.nav-menu{
    color: #2d8c42;
    font-size: 15px;
    font-weight: bold;
}
.nav-menu:hover{
    color:black;
    background-color:#e9ecef;
}
.tab-head{
    border-bottom: 4px solid transparent;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    font-weight:bold;
    color:#fff;
}
.panel-head{
    padding-left:15px;
}
.btn-cirlce{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.dot{
    height: 45px;
    width: 45px;
    background-color:#1077cf;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color:#fff;
}
.steps{
    margin-top:20px;
    padding-left:20px;
    font-size: 15px;
    font-weight: bold;
    color: #1077cf;
}
.steps-disabled{
    color:#a59a9a;   
}
.dot-disabled{
    background-color: #e7e7e7;
}
.pnr-search{
    margin-top: 20px;
    border: 1px solid #b9babc;
    background-color: #e7e7e7;
    border-radius: .5rem;
    padding: 40px 0 40px 0;
}
.pnr-view{
    margin-top: 20px;
    border-color: #908a8a;
    background-color: #f5f2f2;
    border-radius: .5rem;
    height: 650px;
    border: 1px solid #b9babc;
}
.row-steps{
    font-weight: bold;
}
.row-btn{
    float: right;
    margin-top: 10px;
}
#step-2{
    display: none;
}
.tab button:hover {
    background-color: #ddd;
    border-radius: 5px 0 0px 5px;
  }
  .tab button.active {
    background-color: #fff;
    border-left: 1px solid #b9babc;
    border-top: 1px solid #b9babc;
    border-bottom: 1px solid #b9babc;
    color: black;
    border-radius: 5px 0 0px 5px;
  }
.tab {
    float: left;
    margin-left: 200px;
    margin-top:50px;
  }
  .tab button {
    display: block;
    background-color: inherit;
    color: #0e8c0f;
    padding: 10px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
  }
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    height: 500px;
    margin-top:50px;
    background-color: #fff;
  }
.btn-cus {
    background:#fff;
    border-color: #ced4da;
  }
  